{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Boutique-Afro-Centro!
{% endblock %}

{% block content %}

	<h1>Modifier mon mot de passe</h1>

	-<a href="{{path('account')}}">Revenir a Mon Compte
		<a/><br/>

		<hr>
		{{ form(form)}}
			<hr>


		{% endblock %}
